# Ignore Python Virtual Environments
.venv/

# Optionally, you can add other common Python-related ignores:
# Compiled python files
__pycache__/
*.pyc

# IDE files (VS Code)
.vscode/

# Operating System temporary files
.DS_Store